<h1>
    Sign up form
</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password"  placeholder="password">
    <button>
        Submit
    </button>
</form>


<li>Already a user? <a href="/login">Log In</a></li>

